**/__pycache__
**/.DS_Store
build/
dist/
Pipfile
Pipfile.lock
.mypy_cache/
.idea/
deepface.egg-info/
tests/dataset/*.pkl
tests/sandbox.ipynb
*.pyc
/lean-mtcnn_training/data/test_labels
/lean-mtcnn_training/data/train_labels
/lean-mtcnn_training/data/val_labels

